<!-- Portfolio Grid Section -->
<section id="activities" class="bg-light-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Activities</h2>
              <h3 class="section-subheading text-muted">
                News and update about activities.
              </h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <ul class="list-unstyled">
              {% for post in site.posts %}
                <li>
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h4>
                  <h5>{{ post.subtitle }}</h5>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div>
  </div>
</section>
