<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">
                      Email: info@navbihan.in | Mobile: +91 9004316171
                      <p>
                        Address: NAINA SEWAK KUTIR,
                        WARD NO 13 (BULLECHAK) JITWARPUR NIZAMAT,
                        SAMASTIPUR - 848134.
                      </p>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="https://formspree.io/info@navbihan.in" method="POST" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" name="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                              </div>
                              <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" name="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                              </div>
                              <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" name="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Your Message *" name="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                              </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                              <div id="success"></div>
                              <input type="hidden" name="_next" value="{{site.url}}/thank-you" />
                              <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
