<section id="contribute" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Financials</h2>
        <h3 class="section-subheading text-muted">Navbihan Account Detail.</h3>
      </div>
    </div>
    <div class="row text">
      <p>
        Donations can be made by cheque, draft or bank transfer .
      </p>
      <dl class="dl-horizontal">
        <dt>NAME</dt>
        <dd>Navbihan Sewa Society</dd>

        <dt>A/C NO</dt>
        <dd>6351395868</dd>

        <dt>ACCOUNT</dt>
        <dd>SAVING BANK</dd>

        <dt>Bank</dt>
        <dd>Indian Bank</dd>

        <dt>Branch</dt>
        <dd>St. Kabir College</dd>

        <dt>Address</dt>
        <dd>Samastipur 848101</dd>

        <dt>IFS Code</dt>
        <dd>IDIB000S222</dd>

        <dt>Pan Card</dt>
        <dd>AACAN 8185C</dd>
      </dl>
      <div class="col-md-12">
        <pre>
          1. Contribution/donation:  Donations can be made by cash payment or
          above Rs. 3000/- through banking system,
          like, RTGS/ NEFT/DRAFT/CHEQUE etc. to above account with full details
          in  E-MAIL/SMS favoring <em>Navbihan Sewa society</em> with full details
          including pan card no. through email/SMS

          2. Exemption under section 80G: not eligible at present

          3. Foreign remittance: Not permitted under FCRA

          Email: info@navbihan.in
          Mobile: +91 9004316171
        </pre>
      </div>
      <div class="row">
        <h3>
          List of documents
        </h3>
        <div class="row">
          <div class="col-md-4">
            <h4>
              <a href="/docs/registration.jpg" target="_blank"
                >Registration Certificate</a
              >
            </h4>
          </div>
        </div>
        <h4>Audit Reports</h4>
        <ul>
          <li>
            <h4>
              <a href="/docs/nav-bs-14.pdf" target="_blank">Audit 2014 - 15</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="/docs/nav-bs-15-16.pdf" target="_blank"
                >Audit 2015 - 16</a
              >
            </h4>
          </li>
          <li>
            <h4>
              <a href="/docs/BS-NAVBIHAN-16-17.pdf" target="_blank"
                >Audit 2016 - 17</a
              >
              &
              <a href="/docs/DONATION-16-17.xlsx" target="_blank">Donations</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="/docs/BS NAVBIHAN-17-18.xls" target="_blank"
                >Audit 2017 - 18</a
              >
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
