<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
            </div>
        </div>
    </div>
</footer>