<!-- Services Section -->
    <section id="objectives">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mission and Vision</h2>
                    <h3 class="section-subheading text-muted">
                      Following are the aims &amp; objectives of the society
                    </h3>
                </div>
            </div>
            <div class="row text-muted">
                <div class="col-md-4">
                    <ol class="list-unstyled">
                      <li>
                        To bring everlasting change among marginalized
                        communities towards their better quality of life.
                      </li>
                      <li>
                        To work towards eliminating social inequalities
                        and strengthening the economic capacities and
                        capabilities of the above captioned communities.
                      </li>
                    </ol>
                </div>
                <div class="col-md-4">
                  <ol class="list-unstyled">
                    <li>
                      To make efforts for ensuring genuine entitlements
                      from the government bodies and others to the
                      eligible.
                    </li>
                    <li>
                      To maintain environment friendly climate and
                      cleanliness in the place they live and around.
                    </li>
                  </ol>
                </div>
                <div class="col-md-4">
                  <ol class="list-unstyled">
                    <li>
                      To bring in awareness of good habits and practices
                      in the community for a healthy and happy living.
                    </li>
                    <li>
                      To bring in awareness of the value of education in
                      the community and raise literacy levels.
                    </li>
                  </ol>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>
                  <a href="/docs/Navbihan-Memorandum.pdf" class="btn btn-xl" target="_blank">Read Memorandum</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>
                  <a href="/docs/RULES-AND-REGULATION-NAVBIHAN.pdf" class="btn btn-xl" target="_blank">Read rules &amp; regulations</a>
                </p>
              </div>
            </div>
        </div>
    </section>
