<!-- Team Section -->
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Team</h2>
        <h3 class="section-subheading text-muted">Navbihan Members.</h3>
      </div>
    </div>
    <div class="row text">
      {% for member in site.chairman %}
      <div class="col-sm-12">
        <div class="team-member">
          <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle"
            alt="{{ member.name }}, {{ member.position }}">
          <h4>{{ member.name }}</h4>
          <p class="text-muted">{{ member.position }}</p>
          <ul class="list-inline social-buttons">
            {% for network in member.social %}
            <li>
              <a href="{{ network.url }}">
                <i class="fa fa-{{ network.title }}"></i>
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for member in site.people %}
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle"
            alt="{{ member.name }}, {{ member.position }}">
          <h4>{{ member.name }}</h4>
          <p class="text-muted">{{ member.position }}</p>
          <ul class="list-inline social-buttons">
            {% for network in member.social %}
            <li>
              <a href="{{ network.url }}">
                <i class="fa fa-{{ network.title }}"></i>
              </a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted"></p>
      </div>
    </div>
  </div>
</section>