<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="index">
    <header>
      {% include nav.html %}
    </header>
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">{{ content }}</div>
      </div>
    </div>
    {% include ga.html %}
  </body>
</html>
