<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="index">
    {% include nav-blog.html %}
    <div class="container">
      <h1>{{ page.title }}</h1>
      <div>{{ content }}</div>
      <!-- <div class="text-right">Posted on: {{ page.date }}</div> -->
    </div>
    {% include footer.html %} {% include ga.html %}
  </body>
</html>
