<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %}
    {% include objectives.html %}
    {% include activities.html %}
    {% include team.html %}
    {% include contribute.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include ga.html %}
  </body>
</html>
